<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="https://bulma.io/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://bulma.io/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://bulma.io/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://bulma.io/favicons/manifest.json">
    <link rel="mask-icon" href="https://bulma.io/favicons/safari-pinned-tab.svg" color="#00d1b2">
    <link rel="shortcut icon" href="https://bulma.io/favicons/favicon.ico">
    <meta name="msapplication-config" content="https://bulma.io/favicons/browserconfig.xml">

    <%- css('css/styles.min') %>
  </head>

  <body>
    <%- body %>
    <%- partial('_components/footer/main_footer') %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <%- js('js/app.min') %>
  </body>
</html>
